---
import { getEntry } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import Main from "../../components/Main.astro"
import H1 from "../../components/H1.astro"
import { Image, getImage } from "astro:assets"
import TableOfContent from "../../components/TableOfContent.astro"
import Share from "../../components/Share.astro"
export const prerender = false

const { slug } = Astro.params
const post = await getEntry("posts", slug as string)

if (!post) {
  return Astro.redirect("/404")
}

const { Content, headings } = await post.render()
const coverImageSource = (await getImage({ src: post.data.image })).src
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={coverImageSource}
>
  <Main>
    <div class="text-zinc-500 text-2xl mb-16">
      ← <a href="/blog" class="underline">Back to all entries</a>
    </div>
    <H1 text={post.data.title} />
    <Image
      src={post.data.image}
      alt={post.data.title}
      width={1024}
      height={1024 / 1.5}
      format="webp"
      class="rounded-2xl shadow-xl mb-28 aspect-thumbnail object-cover"
    />
    <div class="mb-10">
      <TableOfContent headings={headings} />
    </div>

    <div class="relative mb-9">
      <Share post={post} />
      <div class="prose prose-2xl overflow-visible relative">
        <Content />
      </div>
    </div>
  </Main>
</Layout>
